<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Select a Campus</title>
</head>
<body>
    <p>Please enter the campus name below.</p>
    <form action='/students/campus' method='POST'>
        <input type="text" name="campus" placeholder="campus name">
        <button type="submit">View</button>
    </form>
</body>
</html>