blockquote {
  border-left: 5px solid blue;
  padding: 15px;
  margin-left: 0px;
}

cite {
  display: block;
  margin-top: 10px;
}

#external-links ul {
  list-style-type: none;
  padding-left: 0px;
}

/* you're welcome to edit the
image, figure, and figcaption CSS if you'd like, 
but it's optional! */
img {
  width: 100%;
}

figure {
  margin-left: 0px;
  margin-right: 0px;
}

figcaption {
  font-style: italic;
  text-align: right;
}

/*Module 3.4 Modifications*/

body {
  /*max-width sets a non-deterministic maximum width*/
  max-width: 960px;
  /*Enables more consistent responsiveness at different*/
  /*screen widths compared to display and vertical-align*/
  display: table;
}

#external-links {
  width: 20%;
  display: table-cell;
  padding-right: 5px;
  position: fixed;
}
 
 main {
  display: table-cell;
  /*20% + 77 % < 100% accounts for default margin and padding widths*/
  width: 77%;
}

/*@media: media query*/
/*media_type: all, screen, tv, braille, etc.*/
/*expression: (media_feature: value)*/
@media screen and (max-width: 900px),
    only screen and (max-device-width: 480px) {

  #external-links, main {
    display: block;
    width: 100%;
    position: static;
  }

  #external-links h1 {
    margin-top: 5px;
    margin-bottom: 15px;
  }

  #external-links ul {
    margin-top: 0;
    margin-bottom: 25px;
  }

 main h1:first-child {
    margin-top: 5px;
  }
}

@media screen and (min-width: 990px) {

  body {
    margin-right: auto;
    margin-left: auto;
    max-width: 90%;
  }
}