/** {
    outline: 1px solid red
}*/
section#contact-info {
    font-size: 0.8em;
}

.job {
    background-color: #e9e5dc;
    border-radius: 0.4em;
    padding: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

h3 {
    margin: 0px auto;
}

ul.work-details {
    margin-bottom: 0px;
    font-size: 0.8em;
}

/*pseudo-selection example*/
li:first-of-type {
    color: red;
}

/*child selection*/
section section {
    color: blue;
}

/*specific child selection with pseudo-selector*/
section:last-child {
    color: green;
}